:root {
  --first-title-color: #2e2f42;
  --second-title-color: #ffffff;
  --first-text-color: #434455;
  --second-text-color: #f4f4fd;
  --first-background-color: #2e2f42;
  --second-background-color: #f4f4fd;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* -------- HEADER -------- */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

.page-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-studio {
  color: var(--first-title-color);
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--first-title-color);
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* -------- HERO -------- */

.hero {
  background-color: var(--first-background-color);
  width: 1440px;
}

.hero-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  font-size: 56px;
  width: 496px;
  height: 120px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--second-title-color);
  margin-bottom: 48px;
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* -------- FEATURES -------- */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-wrap {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.feature-item {
  width: 264px;
}

.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--first-title-color);
  margin-bottom: 8px;
}

.feature-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}

/* -------- SECTION 2 -------- */

.section-two {
  padding-bottom: 120px;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--first-title-color);
  margin-bottom: 72px;
}
.section-list {
  display: flex;
  gap: 24px;
}

/* -------- SECTION 3 -------- */

.team-section {
  background-color: var(--second-background-color);
}

.team-item {
  background-color: #ffffff;
}

.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--first-title-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}

/* -------- PORTFOLIO-FILTER -------- */

.btn-item {
  font-family: inherit;
  background-color: #f4f4fd;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
}

.btn-item:hover,
.btn-item:focus {
  background-color: #404bbf;
  color: #ffffff;
}

/* -------- CARD CONCEPT -------- */

.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--first-title-color);
}

.card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}

/* -------- FOOTER -------- */

.footer {
  background-color: var(--first-background-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.footer-logo-studio {
  color: var(--second-text-color);
}
