:root {
  --first-title-color: #2e2f42;
  --second-title-color: #ffffff;
  --first-text-color: #434455;
  --second-text-color: #f4f4fd;
  --first-background-color: #2e2f42;
  --second-background-color: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* -------- HEADER -------- */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-studio {
  color: var(--first-title-color);
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--first-title-color);
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* -------- HERO -------- */

.hero {
  background-color: var(--first-background-color);
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--second-title-color);
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* -------- FEATURES -------- */

.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--first-title-color);
}

.feature-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}

/* -------- SECTION 2 -------- */

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--first-title-color);
}

/* -------- SECTION 3 -------- */

.team-section {
  background-color: var(--second-background-color);
}

.team-item {
  background-color: #ffffff;
}

.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--first-title-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}

/* -------- PORTFOLIO-FILTER -------- */

.btn-item {
  font-family: inherit;
  background-color: #f4f4fd;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
}

.btn-item:hover,
.btn-item:focus {
  background-color: #404bbf;
  color: #ffffff;
}

/* -------- CARD CONCEPT -------- */

.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--first-title-color);
}

.card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}

/* -------- FOOTER -------- */

.footer {
  background-color: var(--first-background-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.footer-logo-studio {
  color: var(--second-text-color);
}
